@font-face {
    font-family: 'freehandregular';
    src: url('font/freehandbtregular-webfont.eot');
    src: url('font/freehandbtregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/freehandbtregular-webfont.woff') format('woff'),
         url('font/freehandbtregular-webfont.ttf') format('truetype'),
         url('font/freehandbtregular-webfont.svg#freehandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dosisbold';
    src: url('font/dosisbold-webfont.eot');
    src: url('font/dosisbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/dosisbold-webfont.woff') format('woff'),
         url('font/dosisbold-webfont.ttf') format('truetype'),
         url('font/dosisbold-webfont.svg#dosisbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dosisextrabold';
    src: url('font/dosis-extrabold-webfont.eot');
    src: url('font/dosis-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/dosis-extrabold-webfont.woff') format('woff'),
         url('font/dosis-extrabold-webfont.ttf') format('truetype'),
         url('font/dosis-extrabold-webfont.svg#dosisextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dosissemibold';
    src: url('font/dosis-semibold-webfont.eot');
    src: url('font/dosis-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/dosis-semibold-webfont.woff') format('woff'),
         url('font/dosis-semibold-webfont.ttf') format('truetype'),
         url('font/dosis-semibold-webfont.svg#dosissemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dosislight';
    src: url('font/dosislight-webfont.eot');
    src: url('font/dosislight-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/dosislight-webfont.woff') format('woff'),
         url('font/dosislight-webfont.ttf') format('truetype'),
         url('font/dosislight-webfont.svg#dosislight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dosisregular';
    src: url('font/dosisregular-webfont.eot');
    src: url('font/dosisregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/dosisregular-webfont.woff') format('woff'),
         url('font/dosisregular-webfont.ttf') format('truetype'),
         url('font/dosisregular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dosisextralight';
    src: url('font/dosisextralight-webfont.eot');
    src: url('font/dosisextralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/dosisextralight-webfont.woff') format('woff'),
         url('font/dosisextralight-webfont.ttf') format('truetype'),
         url('font/dosisextralight-webfont.svg#dosisextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensansitalic';
    src: url('font/opensansitalic-webfont.eot');
    src: url('font/opensansitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensansitalic-webfont.woff') format('woff'),
         url('font/opensansitalic-webfont.ttf') format('truetype'),
         url('font/opensansitalic-webfont.svg#opensansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensanslight';
    src: url('font/opensanslight-webfont.eot');
    src: url('font/opensanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensanslight-webfont.woff') format('woff'),
         url('font/opensanslight-webfont.ttf') format('truetype'),
         url('font/opensanslight-webfont.svg#opensanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensansregular';
    src: url('font/opensansregular-webfont.eot');
    src: url('font/opensansregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensansregular-webfont.woff') format('woff'),
         url('font/opensansregular-webfont.ttf') format('truetype'),
         url('font/opensansregular-webfont.svg#opensansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensansbold';
    src: url('font/opensans-bold-webfont.eot');
    src: url('font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-bold-webfont.woff') format('woff'),
         url('font/opensans-bold-webfont.ttf') format('truetype'),
         url('font/opensans-bold-webfont.svg#opensansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}