@charset "utf-8";

/* Fontes:
	opensansitalic, opensanslight, opensansregular, opensansbold
*/
body {
    background: url('../img/bg.jpg') no-repeat top center;
    background-size: cover;
    font-family: 'opensansregular';
    font-size: 12px;
}
.wrapper {
	position: relative;
	padding-left: 10px;
    width: 947px;
    height: 570px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 30px auto 0;
    background-color: #f1f0f0;
}
header {
	width: 197px;
}
header h1 {
	text-indent: -9999px;
	width: 157px;
	margin-left: 20px;
	height: 74px;
	background: url('../img/logo.png') no-repeat;
}
.traco {
	background: url('../img/traco.png') no-repeat center;
	margin: 0 auto;
	width: 197px;
	height: 2px;
}
nav {
	margin-top: 30px;
}
nav ul li {
	height: 45px;
	text-align: center;
	line-height: 3;
}
nav a {
	text-decoration: none;
	color: #acacab;
	padding: 0 69px;
	font-family: 'opensanslight';
	text-transform: uppercase;
	letter-spacing: 2px;
}
nav a:hover {
	font-weight: bold;
	color: #667d1e;
}
.com_fundo {
	background: url('../img/fundo.png') no-repeat;
}
section {
	width: 726px;
	height: 547px;
}
section.main {
	position: absolute;
	top: 10px;
	right: 10px;
}
section.s_home {
	background: url('../img/img1.png') no-repeat;
	position: relative;
}
div.s_home_wrapper {
	position: absolute;
	height: 360px;
	width: 294px;
	right: 0;
	top: 72px;
}
div.s_home_head {
	background: url('../img/s_bg.png') no-repeat;
	height: 90px;
	width: 294px;
	z-index: 1;
	position: relative;
}
div.s_home_head h1 {
	font-size: 48px;
	line-height: 1.9;
	margin-left: 25px;
	color: #fdfdfd;
}
div.s_home_head p {
	width: 186px;
	position: absolute;
	right: 0;
	top: 13px;
	line-height: 1.4;
	color: #8a91a5;
}
div.s_home_main {
	background: url('../img/s_bg2.png') no-repeat;
	position: relative;
	height: 269px;
	width: 273px;
	margin: -7px auto 0;
	z-index: 0;
}
div.s_home_main p {
	padding-top: 20px;
	color: #fdfdfd;
	margin-left: 20px;
	width: 220px;
	line-height: 1.8;
}
footer {
	position: absolute;
	width: 197px;
	height: 177px;
	bottom: 24px;
	text-align: center;
}
footer h1 {
	color: #667d1e;
	text-transform: uppercase;
	letter-spacing: 2px;
}
footer p {
	bottom: 24px;
	color: #acacab;
	font-size: 10px;
	line-height: 2;
	margin-top: 54px;
}
ul.social {
	margin: 0 auto;
	margin-top: 15px;
	overflow: hidden;
	width: 186px;
}
ul.social li {
	float: left;
}
.facebook {
	background: url('../img/facebook.png') no-repeat;
	width: 62px;
	height: 48px;
	text-indent: -9999px;
	display: block;
	overflow: hidden;
}
.twitter {
	background: url('../img/twitter.png') no-repeat;
	width: 62px;
	height: 48px;
	text-indent: -9999px;
	display: block;
	overflow: hidden;
}
.vine {
	background: url('../img/vine.png') no-repeat;
	width: 62px;
	height: 48px;
	text-indent: -9999px;
	display: block;
	overflow: hidden;
}
.shadow {
	background: url('../img/shadow.png') no-repeat center;
	margin: 0 auto;
	width: 939px;
	height: 26px;
	margin-top: 50px;
}
.oculta {
	display: none;
}