@charset "utf-8";
body {
    background: url('../img/bg.jpg') no-repeat top center;
    font-family: 'arial';
}
a {
	text-decoration: none;
	color: #acacab;
}
a:hover {
	color: #667d1e;
}
.wrapper {
    width: 939px;
    height: 559px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 30px auto 0;
    background-color: #f1f0f0;
}
header h1 {
	text-indent: -9999px;
	width: 157px;
	margin-left: 20px;
	height: 74px;
	background: url('../img/logo.png') no-repeat;
}
nav {
	width: 157px;
	margin-top: 30px;
}
nav ul li {
	width: 197px;
	height: 45px;
	text-align: center;
	line-height: 2;
}
.com_fundo {
	background: url('../img/fundo.png') no-repeat;
}
footer h1 {
	color: #667d1e;
}
footer p {
	color: #acacab;
	font-size: 10px;
}
.shadow {
	background: url('../img/shadow.png') no-repeat center;
	margin: 0 auto;
	width: 939px;
	height: 26px;
	margin-top: 50px;
}