@charset "utf-8";
body {
    background: url('../img/bg.jpg') no-repeat top center;
    background-size: cover;
    font-family: 'opensansregular';
}
a {
	text-decoration: none;
	color: #acacab;
}
a:hover {
	color: #667d1e;
}
.wrapper {
	position: relative;
    width: 939px;
    height: 559px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 30px auto 0;
    background-color: #f1f0f0;
}
header {
	width: 197px;
}
header h1 {
	text-indent: -9999px;
	width: 157px;
	margin-left: 20px;
	height: 74px;
	background: url('../img/logo.png') no-repeat;
}
.traco {
	background: url('../img/traco.png') no-repeat center;
	margin: 0 auto;
	width: 197px;
	height: 2px;
}
nav {
	margin-top: 30px;
}
nav ul li {
	height: 45px;
	text-align: center;
	line-height: 2;
}
nav ul li a {
	padding: 0 69px;
}
.com_fundo {
	background: url('../img/fundo.png') no-repeat;
}
section {
	width: 726px;
	height: 547px;
}
section.main {
	position: absolute;
	top: 10px;
	right: 10px;
	margin: 5px;
}
section.s_home {
	background: url('../img/img1.png') no-repeat;
}
div.s_home_wrapper {
	position: relative;
	height: 350px;
	width: 294px;
}
div.s_home_head {
	background: url('../img/s_bg.png') no-repeat;
	height: 90px;
	width: 294px;
}
div.s_home_head h1 {
	padding: 0;
	font-size: 48px;
	line-height: 1.9;
	margin-left: 29px;
}
div.s_home_head p {
	font-size: 12px;
	width: 200px;
	position: absolute;
	right: 0;
	top: 0;
}
footer {
	position: absolute;
	width: 197px;
	height: 177px;
	bottom: 0px;
	text-align: center;
}
footer h1 {
	color: #667d1e;
}
footer p {
	position: absolute;
	bottom: 24px;
	color: #acacab;
	font-size: 10px;
}
ul.social {
	margin-top: 15px;
}
ul.social li {
	float: left;
}
.facebook {
	background: url('../img/facebook.png') no-repeat;
	width: 62px;
	height: 48px;
	text-indent: -9999px;
	display: block;
	overflow: hidden;
}
.twitter {
	background: url('../img/twitter.png') no-repeat;
	width: 62px;
	height: 48px;
	text-indent: -9999px;
	display: block;
	overflow: hidden;
}
.vine {
	background: url('../img/vine.png') no-repeat;
	width: 62px;
	height: 48px;
	text-indent: -9999px;
	display: block;
	overflow: hidden;
}
.shadow {
	background: url('../img/shadow.png') no-repeat center;
	margin: 0 auto;
	width: 939px;
	height: 26px;
	margin-top: 50px;
}
.oculta {
	display: none;
}